body{
    margin: 0%;
}
ul{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    width: 800px;
    margin: auto;
    background-color: #343a40;
    padding: 20px;
}
li,a{
    text-decoration: none;
    color: white;
}
